## Import Pandas package

In [1]:
import pandas as pd

## Reading the title.basics.tsv file into df_basics dataframe

In [3]:
import pandas as pd
import sys
import cx_Oracle as cora

cora.init_oracle_client(lib_dir = "C:/Users/patek/Downloads/Phase5-JDBC/instantclient_21_7")

In [4]:
conn = cora.connect('pxp7948/Hgd3df7hTdrd8s@az6F72ldbp1.az.uta.edu:1523/pcse1p.data.uta.edu')
c = conn.cursor()

In [5]:
df_basics = pd.read_table('title.basics.tsv', dtype={'tconst':'str', 'titleType':'str', 'primaryTitle':'str','originalTitle': 'str', 'isAdult':'str', 'startYear':'str', 'endYear':'str', 'runtimeMinutes':'str', 'genres':'str'})
print(df_basics.head())

      tconst titleType            primaryTitle           originalTitle  \
0  tt0000001     short              Carmencita              Carmencita
1  tt0000002     short  Le clown et ses chiens  Le clown et ses chiens
2  tt0000003     short          Pauvre Pierrot          Pauvre Pierrot
3  tt0000004     short             Un bon bock             Un bon bock
4  tt0000005     short        Blacksmith Scene        Blacksmith Scene

  isAdult startYear endYear runtimeMinutes                    genres
0       0      1894      \N              1         Documentary,Short
1       0      1892      \N              5           Animation,Short
2       0      1892      \N              4  Animation,Comedy,Romance
3       0      1892      \N             12           Animation,Short
4       0      1893      \N              1              Comedy,Short

In [12]:
for i in range(len(df_basics)):
    sql = """insert into fall22_30_dbms_basics 
    values (:tconst, :titleType, :primaryTitle, :originalTitle, :isAdult, :startYear, :endYear, :runtimeMinutes, :genres)"""
    c.execute(sql, [df_basics.iloc[i][0], df_basics.iloc[i][1], df_basics.iloc[i][2], df_basics.iloc[i][3], df_basics.iloc[i][4],df_basics.iloc[i][5],df_basics.iloc[i][6],df_basics.iloc[i][7],df_basics.iloc[i][8]])
    conn.commit()

## Reading the title.crew.tsv file into df_crew dataframe

In [6]:
df_crew = pd.read_table('title.crew.tsv')
print(df_crew.head(10))

      tconst            directors    writers
0  tt0000001            nm0005690         \N
1  tt0000002            nm0721526         \N
2  tt0000003            nm0721526         \N
3  tt0000004            nm0721526         \N
4  tt0000005            nm0005690         \N
5  tt0000006            nm0005690         \N
6  tt0000007  nm0005690,nm0374658         \N
7  tt0000008            nm0005690         \N
8  tt0000009            nm0085156  nm0085156
9  tt0000010            nm0525910         \N

In [ ]:
for i in range(len(df_crew)):
    sql = """insert into fall22_30_dbms_crew 
    values (:tconst, :directors, :writers)"""
    c.execute(sql, [df_crew.iloc[i][0], df_crew.iloc[i][1], df_crew.iloc[i][2]])
    conn.commit()

## Reading the imdb00-title-actors.csv file into df_actors dataframe

In [7]:
df_actors = pd.read_csv('imdb00-title-actors.csv', names=['tconst', 'actorId', 'actorName', 'actorName2'], header=None, dtype = {'tconst':'str', 'actorId':'str', 'actorName':'str', 'actorName2':'str'})
print(df_actors.head())

      tconst    actorId     actorName actorName2
0  tt0528241  nm0000001  Fred Astaire        NaN
1  tt0507722  nm0000001  Fred Astaire        NaN
2  tt0565155  nm0000001  Fred Astaire        NaN
3  tt0565107  nm0000001  Fred Astaire        NaN
4  tt0565263  nm0000001  Fred Astaire        NaN

In [ ]:
for i in range(len(df_actors)):
    sql = """insert into fall22_30_dbms_actor 
    values (:tconst, :directors, :writers)"""
    c.execute(sql, [df_actors.iloc[i][0], df_actors.iloc[i][1], df_actors.iloc[i][2]])
    conn.commit()

## Join the df_crew and df_actors dataframes

Join both on basis of tconst field

In [16]:
df_join = pd.merge(df_crew, df_actors, how='inner', on='tconst')
print(df_join.head(10))

      tconst            directors    writers    actorId          actorName  \
0  tt0000005            nm0005690         \N  nm0443482     Charles Kayser
1  tt0000005            nm0005690         \N  nm0653042           John Ott
2  tt0000007  nm0005690,nm0374658         \N  nm0179163   James J. Corbett
3  tt0000007  nm0005690,nm0374658         \N  nm0183947     Peter Courtney
4  tt0000008            nm0005690         \N  nm0653028           Fred Ott
5  tt0000009            nm0085156  nm0085156  nm0063086    Blanche Bayliss
6  tt0000009            nm0085156  nm0085156  nm0183823  William Courtenay
7  tt0000009            nm0085156  nm0085156  nm1309758     Chauncey Depew
8  tt0000011            nm0804434         \N  nm3692297            Grunato
9  tt0000014            nm0525910         \N  nm0166380     Francois Clerc

  actorName2
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN

Filter the rows that have actorId in directors list i.e. actorId = directors

In [17]:
df_join = df_join[df_join.apply(lambda x: x.actorId in x.directors, axis=1)]
print(df_join.head(10))

       tconst  directors    writers    actorId       actorName actorName2
21  tt0000063  nm0617588         \N  nm0617588  Georges Melies        NaN
22  tt0000064  nm0617588         \N  nm0617588  Georges Melies        NaN
23  tt0000065  nm0617588         \N  nm0617588  Georges Melies        NaN
24  tt0000066  nm0617588         \N  nm0617588  Georges Melies        NaN
27  tt0000075  nm0617588         \N  nm0617588  Georges Melies        NaN
30  tt0000091  nm0617588  nm0617588  nm0617588  Georges Melies        NaN
41  tt0000131  nm0617588         \N  nm0617588  Georges Melies        NaN
43  tt0000132  nm0617588  nm0617588  nm0617588  Georges Melies        NaN
46  tt0000138  nm0617588  nm0617588  nm0617588  Georges Melies        NaN
49  tt0000152  nm0617588         \N  nm0617588  Georges Melies        NaN

## Join the above result with the df_basics dataframe on tconst

In [18]:
df_final = pd.merge(df_basics, df_join, how='inner', on='tconst')
print(df_final.head(10))

      tconst titleType                                       primaryTitle  \
0  tt0000063     short                                Dessinateur express
1  tt0000064     short                           Dessinateur: Chamberlain
2  tt0000065     short                        Dessinateur: Reine Victoria
3  tt0000066     short                           Dessinateur: Von Bismark
4  tt0000075     short  The Conjuring of a Woman at the House of Rober...
5  tt0000091     short                             The House of the Devil
6  tt0000131     short                                   A Terrible Night
7  tt0000132     short                                         Card Party
8  tt0000138     short                                  The Bewitched Inn
9  tt0000152     short                         The Hallucinated Alchemist

                                    originalTitle isAdult startYear endYear  \
0                             Dessinateur express       0      1896      \N
1                        Dessinateur: Chamberlain       0      1896      \N
2                     Dessinateur: Reine Victoria       0      1896      \N
3                        Dessinateur: Von Bismark       0      1896      \N
4  Escamotage d'une dame au théâtre Robert Houdin       0      1896      \N
5                             Le manoir du diable       0      1896      \N
6                               Une nuit terrible       0      1896      \N
7                            Une partie de cartes       0      1896      \N
8                            L'auberge ensorcelée       0      1897      \N
9                 L'hallucination de l'alchimiste       0      1897      \N

  runtimeMinutes                genres  directors    writers    actorId  \
0             \N                 Short  nm0617588         \N  nm0617588
1             \N                 Short  nm0617588         \N  nm0617588
2             \N                 Short  nm0617588         \N  nm0617588
3             \N                 Short  nm0617588         \N  nm0617588
4              1          Horror,Short  nm0617588         \N  nm0617588
5              3          Horror,Short  nm0617588  nm0617588  nm0617588
6              1   Comedy,Horror,Short  nm0617588         \N  nm0617588
7              1       Biography,Short  nm0617588  nm0617588  nm0617588
8              2   Comedy,Horror,Short  nm0617588  nm0617588  nm0617588
9              2  Fantasy,Horror,Short  nm0617588         \N  nm0617588

        actorName actorName2
0  Georges Melies        NaN
1  Georges Melies        NaN
2  Georges Melies        NaN
3  Georges Melies        NaN
4  Georges Melies        NaN
5  Georges Melies        NaN
6  Georges Melies        NaN
7  Georges Melies        NaN
8  Georges Melies        NaN
9  Georges Melies        NaN

Add further check conditions i.e. titleType = movie and startYear between 1963 and 1973. Also consider the rows that contain startYear = '\N'.

In [24]:
# titleType = movie and startYear between 1963 and 1973
df_final1 = df_final[((df_final['titleType'] == 'movie') & (df_final['startYear'] >= '1963') & (df_final['startYear'] <= '1973')) | ((df_final['titleType'] == 'movie') & (df_final['startYear'] == r'\N'))]
print(df_final1.head(10))

         tconst titleType                                       primaryTitle  \
3039  tt0056000     movie                                     Magic Fountain
3043  tt0056329     movie                                      Paloma herida
3047  tt0056499     movie                                   The Slime People
3059  tt0056819     movie                                    The Human Dutch
3060  tt0056918     movie                                       The Ceremony
3061  tt0057001     movie                                    La diosa impura
3062  tt0057109     movie                                            500,000
3063  tt0057159     movie                                    House of Dreams
3064  tt0057181     movie  The Incredibly Strange Creatures Who Stopped L...
3065  tt0057264     movie                                   Lujuria tropical

                                          originalTitle isAdult startYear  \
3039                                   La fuente mágica       0      1963
3043                                      Paloma herida       0      1963
3047                                   The Slime People       0      1963
3059                                            Alleman       0      1963
3060                                       The Ceremony       0      1963
3061                                    La diosa impura       0      1963
3062                                Gojuman-nin no isan       0      1963
3063                                    House of Dreams       0      1963
3064  The Incredibly Strange Creatures Who Stopped L...       0      1964
3065                                   Lujuria tropical       0      1963

     endYear runtimeMinutes                  genres  directors  \
3039      \N             90          Comedy,Romance  nm0482881
3043      \N             85                      \N  nm0273477
3047      \N             76           Horror,Sci-Fi  nm0404665
3059      \N             90             Documentary  nm0351842
3060      \N            105             Crime,Drama  nm0002131
3061      \N            104                   Drama  nm0090109
3062      \N             97  Action,Adventure,Drama  nm0001536
3063      \N             71          Horror,Mystery  nm0077663
3064      \N             82                  Horror  nm0245081
3065      \N             95           Drama,Romance  nm0090109

                                                writers    actorId  \
3039  nm0102167,nm0485337,nm0920195,nm0487870,nm0844...  nm0482881
3043                                nm0273477,nm0750031  nm0273477
3047                                nm0731741,nm0730924  nm0404665
3059                      nm0138471,nm0351842,nm0465547  nm0351842
3060            nm0340190,nm0059553,nm0002131,nm0265995  nm0002131
3061                                nm0090109,nm0747739  nm0090109
3062                                          nm0452878  nm0001536
3063                                          nm0077663  nm0077663
3064                      nm0689377,nm0798102,nm0450693  nm0245081
3065                                          nm0090109  nm0090109

                actorName actorName2
3039       Fernando Lamas        NaN
3043     Emilio Fernandez        NaN
3047        Robert Hutton        NaN
3059        Bert Haanstra        NaN
3060      Laurence Harvey        NaN
3061           Armando Bo        NaN
3062       Toshiro Mifune        NaN
3063         Robert Berry        NaN
3064  Ray Dennis Steckler        NaN
3065           Armando Bo        NaN

Export the required final join output to csv file.

In [25]:
df_final1.to_csv('out1.csv', index=False)